
.layout{
  max-width: 1200px;
  min-width: 800px;

  margin: 0 auto;

}

.container{
  display: flex;
  justify-content: space-between;
  padding :10px;
}

.addForm{
  display: flex;
  gap: 20px;
  justify-content: space-between;
  border-radius: 20px;
  background-color: #eee;
  padding: 30px;
  margin: 0 auto;
}

.input_group{
    align-items: center;
    display: flex;
    gap: 20px;
}

.form-label{
  font-size: 16px;
  font-weight: 700;
}

.form-input{
  width: 240px;
  height: 40px;
  border-radius: 12px;
  border: none;
  padding: 0 12px;
}

.addBtn{
  height: 40px;
  width: 140px;
  border-radius: 10px;
  border: none;
  background-color: teal;
  color: white;
  font-weight: 700;
}

.list_container{
  padding: 0 20px;
}

.toDoBox{
  border: 5px solid teal;
  width: 280px;
  height: 150px;
  border-radius: 10px;

  display: flex;
  flex-direction: column;
  padding :30px;
}

.subjectBox{
  width: 280px;
  font-size: 30px;
  margin-bottom: 20px;
}

.contentBox{
  width: 280px;
  font-size: 20px;
  margin-bottom: 20px;
}

.btnBox{
  width: 280px;
  height: 40px;
  display: flex;
  gap: 20px;
}

.workingBtn{
  width: 130px;
  border-radius: 8px;
}

.deleteBtn{
  border : 2px solid red;
  background-color: #fff;
}

.CompleteBtn{
  border: 2px solid teal;
  background-color: #fff;
}